.stat {
	background-image: url("../img/bg_section.png");
	background-repeat: repeat-x;
	background-size: contain;
	padding: 13.81rem 0 13.81rem;
	overflow: hidden;
	&__wrapper {
		display: flex;
		flex-direction: column;
		//overflow: hidden;
	}

	&__top {
		display: flex;
	}

	&__images {
		position: relative;
	}

	&__laptop {
		position: relative;
		border-radius: 2.11738rem 2.11738rem 0rem 0rem;
		border: 2px solid $primary__color;
		overflow: hidden;
		padding: 1.5rem 1rem;
		max-width: 48.0625rem;
		background: linear-gradient(180deg, #1e1e1e 3.15%, rgba(30, 30, 30, 0) 100%);
		picture,
		img {
			width: 100%;
		}

		&-over {
			margin-right: -22%;
			max-width: 50.81738rem;
			picture,
			img {
				width: 100%;
			}
		}

		&::before {
			content: "";
			display: block;
			width: 0.35rem;
			height: 0.35rem;
			border-radius: 50%;
			border: 1px solid $primary__color;
			position: absolute;
			top: 0.5rem;
			left: 0;
			right: 0;
			margin: auto;
		}
	}

	&__mobile {
		position: absolute;
		right: -4.94rem;
		top: 7.5rem;
		display: inline-flex;
		border-radius: 3.58838rem;
		border: 2px solid $primary__color;
		overflow: hidden;
		padding: 0.87rem;
		background: #1e1e1e;
	}

	&__title {
		color: $white__color;
		font-family: $font-family-Neutral;
		font-size: 3.75rem;
		font-style: normal;
		font-weight: 700;
		line-height: 5.625rem; /* 150% */
		text-transform: uppercase;
		padding-left: 10%;
	}

	&__bottom {
		display: flex;
		width: 100%;
		align-items: flex-end;
		justify-content: space-between;
		margin-top: -4rem;
	}

	&__info {
		position: relative;
		display: flex;
		flex-direction: column;
		gap: 4.37rem;
	}

	&__label {
		color: $primary__color;
		font-family: $font-family-inter;
		font-size: 1.625rem;
		font-style: normal;
		font-weight: 500;
		line-height: 2.25rem; /* 138.462% */
		max-width: 18.5rem;
	}

	&__button {
		display: inline-flex;
		margin: 0 auto 0 0;
		padding: 1.28rem 2.59rem;
		color: $black__color;
		font-family: $font-family-inter;
		font-size: 1.625rem;
		font-style: normal;
		font-weight: 700;
		line-height: 2rem; /* 123.077% */
	}
}

.stat {
	&__grid {
		display: flex;
		justify-content: space-between;
		width: 100%;
		gap: 5rem;
		padding-top: 14.41rem;
	}

	&__grid-item {
		display: flex;
	}

	&__grid-wrapper {
	}

	&__grid-arrow {
		display: none;
	}

	&__grid-info {
		display: flex;
		flex-direction: column;
		gap: 3.12rem;
	}

	&__grid-title {
		color: $primary__color;
		text-align: center;
		font-family: $font-family-Neutral;
		font-size: 3.75rem;
		font-style: normal;
		font-weight: 700;
		line-height: 5.625rem; /* 150% */
		text-transform: uppercase;
	}

	&__grid-desc {
		color: $white__color;
		text-align: center;
		font-family: $font-family-inter;
		font-size: 1.375rem;
		font-style: normal;
		font-weight: 500;
		line-height: 2rem; /* 145.455% */
	}
}

@include media-width($md) {
	.stat {
		background-image: url("../img/bg_section.png");
		background-size: contain;
		padding: 6.4rem 0;
		overflow: hidden;
		&__wrapper {
			display: flex;
			flex-direction: column;
		}

		&__top {
			display: flex;
			flex-direction: column-reverse;
			gap: 3.13rem;
		}

		&__images {
			position: relative;
		}

		&__laptop {
			position: relative;
			border-radius: 0.75rem 0.75rem 0rem 0rem;
			border: 1px solid $primary__color;
			overflow: hidden;
			padding: 0.56rem 0.38rem;
			background: linear-gradient(180deg, #1e1e1e 3.15%, rgba(30, 30, 30, 0) 100%);
			max-width: 18.02344rem;

			img {
				width: 100%;
			}
			&-over {
				margin-right: 0;
			}

			&::before {
				content: "";
				display: block;
				width: 0.13125rem;
				height: 0.13125rem;
				border-radius: 50%;
				border: 1px solid $primary__color;
				position: absolute;
				top: 0.1rem;
				left: 0;
				right: 0;
				margin: auto;
			}
		}

		&__mobile {
			position: absolute;
			right: -0.19rem;
			top: 2.69rem;
			display: inline-flex;
			border-radius: 1.49513rem;
			border: 1px solid $primary__color;
			overflow: hidden;
			padding: 0.36rem;
			background: #1e1e1e;
			max-width: 8.64763rem;
			img {
				width: 100%;
			}
		}

		&__title {
			color: $white__color;
			font-family: $font-family-Neutral;
			font-size: 1.875rem;
			font-style: normal;
			font-weight: 700;
			line-height: 2.75rem;
			text-transform: uppercase;
			padding-left: 0;
		}

		&__bottom {
			display: flex;
			width: 100%;
			align-items: flex-start;
			justify-content: space-between;
			margin-top: 4rem;
			gap: 2.5rem;
			flex-direction: column;
		}

		&__info {
			position: relative;
			display: flex;
			flex-direction: column;
			gap: 2rem;
			max-width: 50%;
		}

		&__label {
			color: $primary__color;
			font-family: $font-family-inter;
			font-size: 0.875rem;
			font-style: normal;
			font-weight: 500;
			line-height: 1.375rem;
			max-width: 18.5rem;
		}

		&__button {
			display: inline-flex;
			margin: 0 auto 0 0;
			padding: 0.88rem 1.53rem;
			color: $black__color;
			font-family: $font-family-inter;
			font-size: 1rem;
			font-style: normal;
			font-weight: 700;
			line-height: 1.5rem;
		}
	}
	.stat {
		&__grid {
			display: flex;
			justify-content: space-between;
			flex-direction: column;
			width: 100%;
			gap: 3.75rem;
			padding-top: 4.37rem;
		}

		&__grid-item {
			display: flex;
		}

		&__grid-wrapper {
			display: flex;
			gap: 1.88rem;
		}

		&__grid-arrow {
			display: block;
		}

		&__grid-info {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			gap: 1.25rem;
		}

		&__grid-title {
			color: $primary__color;
			text-align: center;
			font-family: $font-family-Neutral;
			font-size: 1.875rem;
			font-style: normal;
			font-weight: 700;
			line-height: 2.75rem; /* 146.667% */
			text-transform: uppercase;
		}

		&__grid-desc {
			color: $white__color;
			text-align: left;
			font-family: $font-family-inter;
			font-size: 1rem;
			font-style: normal;
			font-weight: 500;
			line-height: 1.5rem; /* 150% */
		}
	}
}
